/* Variables */
:root {
    --dgray: #303438;
    --eggshell: #f7f9fc;
    --lblue: rgb(121, 174, 196);
  }
/* Universal */
body {
    font-family: "Roboto Slab", "Roboto", serif;
    color:var(--dgray);
    background-color: var(--eggshell);
    box-sizing:border-box;
    width:100%;
    max-width:100%;
}

/* Header */
header {
    background-color: var(--lblue);
}

header > * {
    background-color: var(--lblue);
}

.nav-link {
    color:var(--dgray);
    font-size:135%;
}

/* Images */
.frame {
    object-fit: contain;
}

.proj-container {
    display:flex;
    height:25em;
    transition: all 0.3s ease-in-out;
    overflow:hidden;
}

.proj-container img {
    object-fit: scale-down;
}

.proj-container:hover {
    box-shadow: inset 0px 0px 12px
    rgb(96, 202, 235), 0 0 15px
    rgb(138, 102, 236);
}

/* Link styling */
.textlinks { 
    display: flex;
    position:absolute;
    font-size:20px;
    font-weight:bold;
    background-color: var(--lblue);
    color:var(--dgray);
    height: 2em;
    margin-top:.5em;
    justify-self: start;
    }

/* Colors */

.dark-back {
    background-color: var(--dgray);
}

/* Borders */
.blueborder {
    border:5px;
    border-style:solid;
    border-color:var(--lblue);
    }

.border-dgray {
    border-top:0px;
    border-left:0px;
    border-bottom: 0px;
    border-right:2px;
    border-color:var(--dgray);
}

@media screen and (min-width: 0px) {
    main {
        flex-direction:column;
    }
    .border-dgray {
        border-style: none;
    }
}

@media screen and (min-width: 768px) {
    .border-dgray {
        border-style: solid;
    }
}